# ========== HISTORY CONTROL ==========
unset historylog
unset positionlog
# ========== APPEARANCE ==========
set linenumbers
set softwrap
# ========== BEHAVIOR ==========
set autoindent
set smarthome
set trimblanks
set breaklonglines
set quickblank
set minibar
set mouse
set cutfromcursor
set tabstospaces
set tabsize 2
set zap
set unix
set saveonexit
# For snipping trailing blanks when you save a file
bind ^S "{execute}| sed 's/\s\+$//' {enter}{savefile}" main
