[unstable]
unstable-options = true
git = true
gitoxide = true
no-embed-metadata = true
avoid-dev-deps = true

[alias]
b = "build"
i = "install"

[build]
rustc-wrapper = "sccache"
rustflags = ["-C", "target-cpu=native", "-C"]

[env]
CARGO_CACHE_RUSTC_INFO = "1"

[http]
debug = false
ssl-version = "tlsv1.3"
check-revoke = false
multiplexing = true

[net]
git-fetch-with-cli = true
retry = 2

[registries.crates-io]
protocol = "sparse"

[resolver]
incompatible-rust-versions = "allow"

[profile.release]
opt-level = 3
lto = "fat"
panic = "abort"
strip = "symbols"
debug = false
debug-assertions = false
overflow-checks = false

[profile.release.build-override]
opt-level = 0
lto = false
codegen-units = 256
incremental = true
debug = false

[profile.dev]
opt-level = 0
lto = false
codegen-units = 256
incremental = true
debug = false

[target.aarch64-linux-android]
linker = "clang"
rustflags = ["-C", "target-cpu=native"]

[term]
color = 'auto'
progress.when = 'auto'
